.bg-hover-primary:hover {
  background-color: #007bff !important;
  color: white;
  cursor: pointer;
}

.bg-gradient-custom {
  background: rgb(2,0,36);
  background: linear-gradient(330deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgba(0,212,255,1) 100%);
}

.dateform {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #fff;
}

.custom-date-width {
  width: 12rem; /* Puedes ajustar el porcentaje o usar un valor fijo como '200px' */
  min-width: 150px; /* Asegura un ancho mínimo adecuado */
}

.icon-small {
  width: 20px;
  height: 20px;
}
